name: Build and Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (e.g. 1.0.0)'
        required: true

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: Build with PyInstaller
        run: |
          poetry run pyinstaller --noconfirm --onefile ./src/ProstateDynaCatConvert.py

      - name: Rename executable Windows
        if: matrix.os == 'windows-latest'
        run: |
          $SUFFIX = ".exe"
          Move-Item -Path "dist/ProstateDynaCatConvert$SUFFIX" -Destination "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert$SUFFIX"
          Compress-Archive -Path "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert$SUFFIX" -DestinationPath "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert.zip"
        shell: pwsh

      - name: Rename executable (UNIX)
        if: matrix.os != 'windows-latest'
        run: |
          SUFFIX=""
          mv "dist/ProstateDynaCatConvert$SUFFIX" "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert$SUFFIX"
          zip -r0 "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert.zip" "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert$SUFFIX"
        shell: bash

      - name: Upload Artifact (Windows)
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          path: "dist/${{ matrix.os }}-${{ github.event.inputs.version }}--ProstateDynaCatConvert.zip"

      - name: Upload Artifact (UNIX)
        if: matrix.os != 'windows-latest'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          path: "dist/${{ matrix.os }}-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip"


  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Setup variables
        run: |
          VERSION=${{ github.event.inputs.version }}
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.VERSION }}
          commitish: ${{ github.event.inputs.gitref }}
          release_name: Release ${{ env.VERSION }}
          draft: false
          prerelease: false

      - name: Download windows
        uses: actions/download-artifact@v1
        with:
          name: windows-latest-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          path: packages

      - name: Download mac-os
        uses: actions/download-artifact@v1
        with:
          name: macos-latest-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          path: packages

      - name: Download ubuntu
        uses: actions/download-artifact@v1
        with:
          name: ubuntu-latest-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          path: packages

      - name: List files in dist directory
        run: ls -l ./packages/

      - name: Upload Windows Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./packages/windows-latest-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          asset_name: windows-latest-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          asset_content_type: application/zip

      - name: Upload macOS Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./packages/macos-latest-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          asset_name: macos-latest-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          asset_content_type: application/zip

      - name: Upload Ubuntu Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./packages/ubuntu-latest-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          asset_name: ubuntu-latest-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          asset_content_type: application/zip
