name: Build and Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (e.g. 1.0.0)'
        required: true

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: Build with PyInstaller
        run: |
          poetry run pyinstaller --noconfirm --onefile src/ProstateDynaCatConvert.py

      - name: Rename executable Windows
        if: matrix.os == 'windows-latest'
        run: |
          $SUFFIX = ".exe"
          Move-Item -Path "dist/ProstateDynaCatConvert$SUFFIX" -Destination "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert$SUFFIX"
        shell: pwsh

      - name: Rename executable (UNIX)
        if: matrix.os != 'windows-latest'
        run: |
          SUFFIX=""
          mv "dist/ProstateDynaCatConvert$SUFFIX" "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert$SUFFIX"
        shell: bash

      - name: Upload Artifact (Windows=
        if: matrix.os == 'windows-latest'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-executable
          path: "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert.exe"

      - name: Upload Artifact (UNIX)
        if: matrix.os != 'windows-latest'
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.os }}-executable
          path: "dist/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert"


  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          path: dist

      - name: Upload Windows Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.repository.releases_url }}
          asset_path: ./dist/ProstateDynaCatConvert-windows.zip
          asset_name: ProstateDynaCatConvert-windows-${{ github.event.inputs.version }}.zip
          asset_content_type: application/zip

      - name: Upload macOS Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.repository.releases_url }}
          asset_path: ./dist/ProstateDynaCatConvert-macos-latest.zip
          asset_name: ProstateDynaCatConvert-macos-${{ github.event.inputs.version }}.zip
          asset_content_type: application/zip

      - name: Upload Ubuntu Release Asset
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ github.event.repository.releases_url }}
          asset_path: ./dist/ProstateDynaCatConvert-ubuntu-latest.zip
          asset_name: ProstateDynaCatConvert-ubuntu-${{ github.event.inputs.version }}.zip
          asset_content_type: application/zip
