name: Build and Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (e.g. 1.0.0)'
        required: true

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Cache Poetry dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install

      - name: Build with PyInstaller
        run: poetry run pyinstaller --noconfirm --onefile src/ProstateDynaCatConvert.py

      - name: Zip executable
        run: |
          mkdir -p package
          if [ ${{ runner.os }} = "Windows" ]; then
            Compress-Archive -Path "./dist" -DestinationPath "${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert.zip"
          else
            zip -j "package/${{ github.event.inputs.version }}-${{ matrix.os }}-ProstateDynaCatConvert.zip" "./dist/*"
          fi
        shell: bash

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-${{ github.event.inputs.version }}-ProstateDynaCatConvert.zip
          path: package/

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          path: dist

      - name: Create release
        id: create_release
        uses: actions/create-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.inputs.version }}
          release_name: Release ${{ github.event.inputs.version }}
          draft: false
          prerelease: false

      - name: Upload Release Assets
        run: |
          for file in dist/*.zip; do
            echo "Uploading $file"
            curl -X POST -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                 -H "Content-Type: $(file -b --mime-type $file)" \
                 --data-binary @$file \
                 ${{ steps.create_release.outputs.upload_url }}?name=$(basename $file)
          done
        shell: bash
